.code-container {
  position: relative;
  max-width: calc(100vw - var(--spectrum-global-dimension-size-800));
}

.code-pre {
  padding-top: var(--spectrum-global-dimension-size-400) !important;
}

.code-line {
  display: table-row;
}

.code-line-number {
  display: table-cell;
  color: var(--spectrum-global-color-gray-500);
  text-align: left;
  padding-right: var(--spectrum-global-dimension-size-200);
  user-select: none;
}

.code-line-number::before {
  content: attr(data-pseudo-content);
}

.code-line-content {
  margin-right: var(--spectrum-global-dimension-size-1000);
}

.code-action-button {
  position: absolute;
  inset-block-start: 0;
  border-color: var(--spectrum-actionbutton-m-border-color, var(--spectrum-alias-border-color)) !important;
  color: var(--spectrum-actionbutton-m-text-color, var(--spectrum-alias-text-color)) !important;
  padding: var(--spectrum-global-dimension-size-65);
}

.code-copy-button {
  inset-inline-end: var(--spectrum-global-dimension-size-125);
}

.code-copy-button.with-try {
  inset-inline-end: var(--spectrum-global-dimension-size-700);
}

.code-try-button {
  inset-inline-end: var(--spectrum-global-dimension-size-125);
}

.code-tooltip-container {
  position: absolute;
  inset-block-start: var(--spectrum-global-dimension-size-65);
  height: var(--spectrum-global-dimension-size-300);
  display: flex;
  align-items: center;
  pointer-events: none;
}

.code-tooltip-container:not(.with-try) {
  inset-inline-end: calc(var(--spectrum-global-dimension-size-125) + var(--spectrum-global-dimension-size-600) + var(--spectrum-global-dimension-size-125));
}

.code-tooltip-container.with-try {
  inset-inline-end: calc(var(--spectrum-global-dimension-size-700) + var(--spectrum-global-dimension-size-600) + var(--spectrum-global-dimension-size-125));
}

.code-tooltip {
  display: block;
  position: relative;
  white-space: nowrap;
  font-family: var(--spectrum-alias-body-text-font-family, var(--spectrum-global-font-family-base));
}