---
name: Deployment
on:
  workflow_dispatch:
    inputs:
      env:
        description: "Deploy to (dev|prod|dev prod)"
        required: true
        default: "dev"
      clean:
        description: "Clean cache"
        required: true
        type: boolean
        default: false
      excludeSubfolder:
        description: "Exclude a subfolder from deletion"
        required: false
        default: ""
      index-mode:
        description: 'Type of indexing. "index" to push to Algolia, "console" for dry run.'
        required: true
        default: "index"
        type: choice
        options:
          - console
          - index
jobs:
  deployment:
    name: Deployment
    uses: AdobeDocs/adp-devsite-workflow/.github/workflows/gatsby-deploy.yml@main
    secrets: inherit
    with:
      env: ${{ inputs.env }}
      clean: ${{ inputs.clean }}
      excludeSubfolder: ${{ inputs.excludeSubfolder }}
      index-mode: ${{ inputs.index-mode }}
      NODE_OPTIONS: "--max-old-space-size=8192"
      IMS_BASE_URL: "https://ims-na1-stg1.adobelogin.com"
      FFC_BASE_URL: "https://ffc-addon-stage.adobe.io/"
      GATSBY_EXPRESS_URL: "https://stage.projectx.corp.adobe.com/new"
      PLAYGROUND_CLIENT_ID: ${{ secrets.PLAYGROUND_CLIENT_ID_STAGE }}
      PLAYGROUND_CLIENT_SECRET: ${{ secrets.PLAYGROUND_CLIENT_SECRET_STAGE }}
      PLAYGROUND_AUTH_CODE: ${{ secrets.PLAYGROUND_AUTH_CODE_STAGE }}
      PLAYGROUND_API_KEY: ${{ secrets.PLAYGROUND_API_KEY }}
